<%= form_with(model: announcement, url: create_game_announcement_url,local: true) do |f| %>
  <% if announcement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

      <ul>
      <% announcement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>


  <div class="field">
    <%= f.label :min_reservation %><br />
    <%= f.number_field :min_reservation, in: 1...365 %>
  </div>

  <div class="field">
    <%= f.label :max_reservation %><br />
    <%= f.number_field :max_reservation, in: 1...365 %>
  </div>

  <div class="field">
    <%= f.label :renting %><br />
    <%= f.number_field :renting, in: 1...999999, step: 0.01 %>
  </div>

  <div class="field">
    <%= f.label :caution %><br />
    <%= f.number_field :caution, in: 1...999999, step: 0.01 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
