<p id="notice"><%= notice %></p>

<h1>Announcements</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @announcements.each do |announcement| %>
      <tr>
        <td><%= link_to 'Show', game_announcement_path(announcement.game_id, announcement) %></td>
        <td><%= link_to 'Edit', game_announcement_path(announcement.game_id, announcement) %></td>
        <td><%= link_to 'Destroy', game_announcement_path(announcement.game_id, announcement), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Announcement', new_game_announcement_path %>
