<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Partajouer</title>
    <%= javascript_pack_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,700" rel="stylesheet">
  </head>
  <body>
    <%= react_component("CustomMenu") %>
    <section class="content">
      <section class="introduction">
        <div class="introduction__content">
          <h2 class="introduction__title">Partajouer</h2>
          <h3 class="introduction__desc">Réservez le jeu qui occupera votre<br> soirée dès maintenant.</h3>
          <div class="introduction__search">
            <input class="introduction__searchInput" type="text" placeholder="Essayez « 1000 bornes »">
            <input class="introduction__searchBtn" type="button" value="Rechercher">
          </div>
        </div>
      </section>

      <section class="category">
        <div class="category__header">
          <h2 class="category__title title">Catégories</h2>
        </div>
        <div class="category__cards">
            <%= react_component("CategoryCard", {categoryTitle:"Jeux de cartes", categoryImg: image_path("cartes.svg")}) %>
            <%= react_component("CategoryCard", {categoryTitle:"Jeux de plateau", categoryImg: image_path("plateau.svg")}) %>
            <%= react_component("CategoryCard", {categoryTitle:"Jeux de dès", categoryImg: image_path("des.svg")}) %>
            <%= react_component("CategoryCard", {categoryTitle:"Jeux en plein air", categoryImg: image_path("plein_air.svg")}) %>
        </div>
      </section>

      <section class="announcements">
        <section class="announcements__category">
          <div class="announcements__categoryHeader">
            <h2 class="announcements__categoryTitle title">Proche de chez vous</h2>
          </div>
          <div class="announcements__categoryContent">
            <% 7.times do |announcements| %>
              <%= react_component("AnnouncementCard") %>
            <% end %>
          </div>

          <section class="announcements__category">
            <div class="announcements__categoryHeader">
              <h2 class="announcements__categoryTitle title">Proche de chez vous</h2>
            </div>
            <div class="announcements__categoryContent">
              <% 8.times do |announcements| %>
                <%= react_component("AnnouncementCard") %>
              <% end %>
            </div>
          </section>
        </section>
      </section>
    </section>

    <%= react_component("Footer", {rs: [image_path("facebook.svg"), image_path("twitter.svg"), image_path("instagram.svg"), image_path("youtube.svg")]}) %>
  </body>
</html>
