<%= form_with(model: game, local: true, multipart: true) do |f| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :min_players %><br />
    <%= f.number_field :min_players, in: 1...100 %>
  </div>

  <div class="field">
    <%= f.label :max_players %><br />
    <%= f.number_field :max_players, in: 1...100 %>
  </div>

  <div class="field">
    <%= f.label :min_age %><br />
    <%= f.number_field :min_age, in: 1...100 %>
  </div>

  <div class="field">
    <%= f.label :max_age %><br />
    <%= f.number_field :max_age, in: 1...100 %>
  </div>

  <div class="field">
    <%= f.select :status, [['Full game', 'full'], ['Missing some pieces', 'not full']] %>
  </div>

  <div class="field">
    <%= f.label :is_rentable, "Do you want to rent this game ?" %><br />
    <%= f.label :rentable, "Yes", :value => "true"  %>
    <%= f.radio_button :rentable, true , :checked => true%>
    <%= f.label :rentable, "No", :value => "false" %>
    <%= f.radio_button :rentable, false %>
  </div>

  <div class="field">
    <%= file_field_tag "pictures[]", type: :file, multiple: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
